/* 전체 영역을 통틀어서 스타일 정의 */
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
	body, table, div, p {font-family:'Nanum Gothic';}*/
body,h1,h2,h3,h4,h5,h6,div {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
	{
		color:#000000;
		text-decoration: none;
	}
	{
		color:#000000;
		text.decoration: none;
	}
.mySlides {display: none;}
img {vertical-align: middle;}

	.center {
    margin: auto;
    width: 50%;
    padding: 10px;
	}
	
	#:hover {
		color: #bbbbbb;
		text-decoration: none;
		cursor: pointer;
	}

.floating {
	position: fixed;
	right: 50%;
	top: 180px;
	margin-right: -720px;
	text-align: center;
	width: 120px;
}

.jumbotron {
	background-image: url('images/레시피.jpg');
	background-size: cover;
	text-shadow: black 0.1em 0.1em 0.1em;
	color: white;
}


/* 네비게이션 영역 */
.navbar-default { /* 배경 색상 */
	background-color: #FFAA28;
	border-color: #FFAA28;
}

.navbar-default .navbar-brand { /* 네비게이션 제목 색상 */
	color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{
	background-color: transparent;
	color: #bbbbbb;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus { /* 현재 선택된 네비게이션 색상 이벤트 */
	color: white;
	background-color: #D27D32;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{ /* 네비게시션의 글자에 마우스를 올렸을 때 */
	color: #bbbbbb;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	/* 드랍다운이 열렸을 때 마우스 색상 이벤트 */
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a { /* 네비게이션 기본 색상 */
	color: white;
}

@media ( max-width : 767px) { /* 해상도가 작을 때 드랍다운 아이템에 마우스를 올렸을 때 */
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #bbbbbb;
	}
}

.btn-primary {
	background-color: #000000;
	border-color: #000000;
}

.panel {
	border-color: #D27D32;
}

.panel>.panel-heading {
	background-color: #D27D32;
	border-color: #D27D32;
}

{
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* select.jsp 창 스타일 */

.zoom {
    padding: 10px;
    transition: transform .2s;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white;
    border: none;
    background-color: #ff9966;
    box-shadow: 2px 2px gray;
    text-shadow: 2px 2px 4px #000000;
    font-size:20px;
     
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
	font-color:white;
   
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#img-btn {    
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;      
}

#block {
    display: block;
    width: 100%;
    border: none;
    background-color: #ac3939;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

#block:hover {
    background-color: #ddd;
    color: black;
}